* {
    box-sizing: border-box;
}

body {
    background: purple;
    font-size: 40px;
    height: 100%;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-hamb-item{
    padding: 20px 20px;
    display: none;
}

.navbar-hamb-line {
    background-color: black;
    display: block;
    height: 5px;
    width: 30px;
    position: relative;
    left: -15px;
    top: -3px;
    
}

.navbar-hamb-line::before,
.navbar-hamb-line::after{
    background: black;
    content: '';
    height: 5px;
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    width: 30px;
}

.navbar-hamb-line::before{
    top: 10px;
}

.navbar-hamb-line::after{
    top: -10px;
}

.menu {
    display: none;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.navbar-items a {
    color: black;
    background-color: gold;
    width: 19%;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    min-width: fit-content;
}

.navbar-items a:hover {
    background-color: orange;
    color: #fff;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 1%;
}

.slider {
    flex: 65%;
    background-image: url(/img/slider.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.slider h1 {
    font-size: 60px;
    background-color: gold;
    width: 45%;
    padding: 1%;
    margin-top: 20%;
}

.slider h2 {
    font-size: 40px;
    background-color: gold;
    width: 33%;
    padding: 1%;
}

.offer {
    flex: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5%;
}

.offer-item {
    height: 47%;
    background-color: gold;
    text-align: center;
    padding-top: 6%;
}

.offer-item h1 {
    font-size: 100px;
}

.offer-item p {
    font-size: 30px;
    margin-top: -13%;
}

.offer-item:hover {
    background-color: orange;
    color: #fff;
    cursor: pointer;
}

.flex-col {
    flex: 23%;
    text-align: center;
    padding-top: 1%;
}

.flex-col-content {
    padding: 3%;
    background: white;
}

.flex-col-content-img {
    padding-top: 5%;
    height: 150px;
}

.flex-col-content-img img {
    height: 100%;
}

.flex-col-content h2 {
    font-size: 35px;
}

.flex-col-content p {
    font-size: 20px;
}

.flex-col-content:hover {
    color: orange   ;
}

.bottom-slider {
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 2%;
}

.bottom-slider-image {
    height: 800px;
    padding: 5%;
}

.bottom-slider-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.bottom-slider-text {
    height: 50%;
    width: 40%;
    margin-top: 15%;
    padding-right: 3%;
}

.bottom-slider-text h1 {
    font-size: 50px;
}

.bottom-slider-text p {
    font-size: 30px;
}

.bottom-slider-button {
    color: black;
    background-color: gold;
    display: inline-block;
    text-decoration: none;
    padding: 3%;
}

.bottom-slider-button:hover {
    background-color: orange;
    color: #fff;
    cursor: pointer;
}

.instant-grams {
    margin-top: 2%;
    text-align: center;
}

.instant-grams-title {
    color: black;
}

.instant-grams-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 1%;
}

.instant-grams-catalog-item {
    flex: 20%;
    margin-bottom: 2%;
    max-width: 23%;
}

.instant-grams-catalog-item img {
    width: 100%;
}

@media screen and (max-width: 1832px) {
    .slider h1 {
        font-size: 50px;
    }
    
    .slider h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1530px) {
    .slider h1 {
        width: 50%;
    }
    
    .slider h2 {
        width: 40%;
    }
}

@media screen and (max-width: 1500px) {
    .navbar a {
        width: 15%;
    }
}

@media screen and (max-width: 1380px) {
    .slider h1 {
        font-size: 40px;
        margin-top: 35%;
    }
    
    .slider h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1110px) {
    .slider h1 {
        width: 60%;
    }

    .bottom-slider-text h1 {
        font-size: 40px;
    }
    
    .bottom-slider-text p {
        font-size: 24px;
    }
    
    .bottom-slider-button {
        font-size: 30px;
    }

    .bottom-slider-image {
        height: 600px;
    }
}

@media screen and (max-width: 1050px) {

    .navbar-hamb-item {
        display: block;
        height: 40px;
        width: 40px;
        background-color: gold;
    }

    .navbar-items {
        display: none;
    }

    .offer-item h1 {
        font-size: 50px;
    }
    
    .offer-item p {
        font-size: 20px;
        margin-top: -10%;
    }
}

@media screen and (max-width: 915px) {
    .slider h1 {
        font-size: 30px;
    }
    
    .slider h2 {
        font-size: 18px;
    }   
}

@media screen and (max-width: 900px) {
    .flex-col {
        flex: 48%;
    }

    .instant-grams-catalog-item {
        flex: 48%;
        max-width: 48%;
    }    
}

@media screen and (max-width: 830px) {
    .bottom-slider-text h1 {
        font-size: 30px;
    }
    
    .bottom-slider-text p {
        font-size: 16px;
    }
    
    .bottom-slider-button {
        font-size: 24px;
    }

    .bottom-slider-image {
        height: 400px;
    }
}

@media screen and (max-width: 705px) {
    .slider h1 {
        width: 70%;
    }
    
    .slider h2 {
        font-size: 15px;
    }
} 

@media screen and (max-width: 615px) {
    .slider {
        flex: 100%;
    }

    .slider h1 {
        width: 50%;
    }
    
    .slider h2 {
        width: 30%;
        margin-top: 0;
    }

    .offer {
        flex-direction: row;
        margin-top: 2%;
        gap: 2%;
    }
    
    .offer-item {
        flex: 48%;
        min-height: 60px;
        padding: 0;
    }

    .offer-item h1 {
        font-size: 40px;
        margin: 0;
    }

    .offer-item p {
        margin-top: -3%;
        margin-bottom: 0;
    }

    .flex-col-content-img {
        padding-top: 5%;
        height: 100px;
    }
    
    .flex-col-content h2 {
        font-size: 25px;
    }
    
    .flex-col-content p {
        font-size: 15px;
    }

    .bottom-slider-button {
        font-size: 20px;
    }

    .instant-grams-catalog-item {
        min-width: 100%;
    }
}

@media screen and (max-width: 555px) {
    .slider h1 {
        font-size: 24px;
    }
    
    .bottom-slider {
        flex-direction: column;
    }

    .bottom-slider-image {
        padding: 2%;
    }

    .bottom-slider-text {
        width: 100%;
        margin-top: 0;
        padding-left: 3%;
    }

    .bottom-slider-button {
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 490px) {
    .slider h1 {
        font-size: 20px;
    }

    .slider h2 {
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {
    .menu:checked ~ .navbar-hamb-item {
        position: fixed;
        width: 100%;
        height: 50px;
        margin-left: -8px;
        margin-top: -10px;
    }
    
    .menu:checked ~ .navbar-items {
        display: flex;
        flex-direction: column;
        background-color: gold;
        width: 100%;
        min-height: 100%;
        position: fixed;
        top: 50px;
        margin-left: -8px;
        justify-content: unset;
        padding-left: 15px;
    }
    
    .menu:checked ~ .navbar-hamb-item .navbar-hamb-line {
        background: transparent;
    }
    
    .menu:checked ~ .navbar-hamb-item .navbar-hamb-line::before {
        transform: rotate(-45deg);
        top: 10px;
        left: 10px;
    }
    
    .menu:checked ~ .navbar-hamb-item .navbar-hamb-line::after {
        transform: rotate(45deg);
        top: 10px;
        left: 10px;
    }
}